<!DOCTYPE html>
<html>
<head>
  <title><%= post.slug %></title>
  <link rel="stylesheet" href="/css/blogs.css">
</head>
<body>
  <!-- <h1><%= post.slug %></h1> -->
  <div class="blog-post">
    <!-- <h1><%= post.title %></h1> -->
    <!-- <p><%= post.date %></p> -->
    <div><%- post.html %></div>
  </div>

</body>
</html>

